<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de EduEase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding about-content">
  <ion-card class="about-card">
    <ion-card-header>
      <ion-icon name="school-outline" class="header-icon"></ion-icon>
      <ion-card-title>EduEase</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        EduEase es una aplicación móvil diseñada específicamente para estudiantes de colegios particulares.
        Esta herramienta permite a los estudiantes recibir retroalimentación instantánea sobre sus evaluaciones,
        acceder a análisis personalizados de su rendimiento académico, y mantenerse organizados con sus tareas
        y actividades.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="about-card">
    <ion-card-header>
      <ion-icon name="desktop-outline" class="header-icon"></ion-icon>
      <ion-card-title>Interfaz Intuitiva</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        A través de una interfaz intuitiva y amigable, EduEase facilita el seguimiento del progreso académico,
        ofreciendo a los estudiantes la capacidad de escanear sus asignaciones o evaluaciones pendientes, y recibir
        retroalimentación personalizada.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="about-card">
    <ion-card-header>
      <ion-icon name="notifications-outline" class="header-icon"></ion-icon>
      <ion-card-title>Notificaciones y Recordatorios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        La aplicación proporciona notificaciones y recordatorios para ayudar a los estudiantes a mantenerse al día
        con sus estudios, contribuyendo a una experiencia educativa más efectiva y personalizada.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
