<ion-header>
  <ion-toolbar>
    <ion-title>Evaluaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <!-- <ion-item *ngFor="let evaluacion of evaluaciones">
      <ion-label>
        <h2>{{ evaluacion.id }}</h2>
        <p>Estado: {{ evaluacion.estado }}</p>
        <p>Fecha de entrega: {{ evaluacion.fecha_entrega }}</p>
        <p *ngIf="evaluacion.calificacion">Calificación: {{ evaluacion.calificacion }}</p>
        <p>Ruta del archivo: {{ evaluacion.ruta_archivo }}</p>
      </ion-label>
    </ion-item> -->
  </ion-list>
</ion-content>