<!-- home.page.html -->
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <img src="assets/logo.png" class="logo" alt="EduEase Logo">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <ion-card class="join-class" color="dark">
    <ion-item lines="none" color="dark">
      <ion-label color="light">
        Ingresa a una materia
        <p>Coloca el código de la materia brindado por tu profesor</p>
      </ion-label>
      <ion-button fill="solid" color="primary" slot="end">
        <ion-icon name="arrow-forward-circle"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>

  <ion-searchbar placeholder="Materias - Clases" color="light"></ion-searchbar>

  <ion-list>
    <ion-card class="subject-card" *ngFor="let subject of subjects" (click)="goToEvaluaciones(subject.id)">
      <ion-card-header>
        <ion-card-title>{{ subject.materia }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Cantidad de estudiantes: {{ subject.cantidad_estudiantes }}</p>
        <p>Evaluaciones: {{ subject.evaluaciones.length }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
