/* home.page.scss */
:host {
  --ion-background-color: #1c1c2d; /* Fondo oscuro para el contenido */
  --ion-text-color: #ffffff; /* Texto blanco por defecto */
}

ion-toolbar {
  --background: #000000; /* Fondo del toolbar en negro */
  --color: #ffffff; /* Color del texto del toolbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.logo {
  width: 50px;
  height: 50px;
}

.join-class {
  margin-bottom: 20px;
  background-color: #2d2d44; /* Fondo de la tarjeta de ingreso a la materia */
  border-radius: 12px;
}

ion-label {
  font-size: 1.2em;
  color: #ffffff;
}

ion-button {
  --background: #4a4a6a; /* Fondo del botón */
  --color: #ffffff; /* Color del texto del botón */
}

.subject-card {
  background-color: #2d2d44; /* Fondo de la tarjeta de la materia */
  color: #ffffff; /* Color del texto de la tarjeta */
  border-radius: 12px;
  margin-bottom: 20px;
}

.subject-card ion-card-header {
  background-color: #3a3a5c; /* Fondo del encabezado de la tarjeta */
  color: #ffffff; /* Color del texto del encabezado */
}

.subject-card ion-card-content {
  background-color: #2d2d44; /* Fondo del contenido de la tarjeta */
  color: #ffffff; /* Color del texto del contenido */
  padding-top: 16px;
}

.subject-card img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

ion-list {
  border-radius: 12px; /* Ajusta el valor según tus necesidades */
  overflow: hidden; /* Asegura que el contenido no se desborde */
}
